/* -------------------- CUSTOM  -------------------- */
:root{
  --desaturated-red: hsl(0,36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}
/* -------------------- RESETS -------------------- */
html{
  box-sizing: border-box;
  font-size:16px;
  font-family: 'Josefin Sans', sans-serif;
}
*,
*:after
*:before{
  box-sizing: inherit;
}
body{
  margin: 0;
  background-image: linear-gradient(135deg, hsl(0,0%, 100%), hsl(0, 100%, 98%));
}
img{
  max-width: 100%;
}
h1{
  margin: 0;
  font-size: 2.5rem;
}
h2{
  margin: 0;
  font-size: 2rem;
}
h3{
  margin: 0;
  font-size: 1.75rem;
}
h4{
  margin: 0;
  font-size: 1.5rem;
}
h5{
  margin: 0;
  font-size: 1.25rem;
}
h6{
  margin: 0;
  font-size: 1rem;
}
p{
  margin: 0;
}
a{
  color: var(--soft-red);
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}
a:hover{
  opacity: 0.7;
}
/* -------------------- COMPONENTES -------------------- */

/* -------------------- UTILITIES -------------------- */
.container{
  max-width: 100%;
  margin: 0 auto;
}
.none{
  display: none;
}
/* -------------------- ESTILOS PÃGINA -------------------- */
.error{
  position: absolute;
  top: 13px;
  right: 33%;
}
header > .container > img{
  max-width: 100px;
  padding: 1.5rem;
}
.hero-image > img{
  width: 100%;
}
.main-titles{
  margin-top: 4rem;
}
.main-titles > h2{
  letter-spacing: .3rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin: 0;
}
.main-titles > h2:first-child{
  color: var(--desaturated-red);
  font-weight: 300;
}
.main-text{
  text-align: center;
  width: 80%;
  margin: 2rem auto;
  color: var(--desaturated-red);
  line-height: 1.5rem;
}
.main-form{
  text-align: center;
  position: relative;
}
.main-form > input[type="email"]{
  padding: 1rem;
  border: thin solid var(--desaturated-red);
  width: 60%;
  border-radius: 50px;
  display: inline-block;
}
.main-form > input[type="email"]:focus{
  outline: none;
}
.main-form > input[type="email"]::placeholder{
  color: var(--desaturated-red);
}
.main-form > input[type="submit"]{
  position: absolute;
  top: 1px;
  right: 15%;
  border: none;
  border-radius: 50px;
  padding: 1rem 2rem;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.flecha{
  position: absolute;
  color: white;
  top: 0.95rem;
  right: 21%;
  cursor: pointer;
}
footer{
  background-color: var(--desaturated-red);
  margin-top: 2rem;
  padding: 1rem;
}
footer > p{
  text-align: center;
}
@media screen and (min-width: 64rem){
  body{
    display: grid;
    height: 100vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .error{
    right: 43%;
  }
  header > .container > img{
    max-width: 10rem;
  }
  .container{
    max-width: 70%;
  }
  .hero-image{
    grid-row: span 2;
  }
  .hero-image > img{
    height: 100%;
    object-fit: cover;
  }
  .main-titles{
    margin-top: 0;
  }
  .main-titles > h2{
    font-size: 5rem;
    text-align: start;
    letter-spacing: .5rem;
  }
  footer{
    margin-top: 0;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-text{
    text-align: start;
    margin: 2rem 0;
    max-width: 60%;
  }
  .main-form{
    text-align: start;
  }
  .main-form > input[type="submit"]{
    right: 34%;
  }
  .main-form > input[type="submit"]:focus{
    outline: none;
  }
  .flecha{
    right: 37.5%;
  }
  
}
@media screen and (min-width: 90rem){
  .flecha{
    right: 36.5%;
  }
}